.frstsec{
    background-image: url(../assets/urbana.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
*{
    margin: 0;
    padding: 0;
}
.frstsecs{
    background-image: url(../assets/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.frstsac{
    background-image: url(../assets/urbana.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.frstsaac{
    background-image: url(../assets/urbana.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.frrstsec{
    background-image: url(../assets/herobg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.thrdsac{
    background-image: url(../assets/contactformbg.png);
    background-color: #141414;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid rgba(255,255,255,.12);
}
.thrdsec{
    background: linear-gradient(180deg,rgba(5,27,96,0) 0%,#051b60 58.85%),#141414;
}
.thrdseec{
    background-image: url(../assets/scaled.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cost{
    color: #000000;
    font-family: "Urbanist Medium";
    font-size: 48px;
    font-weight: 500;
    line-height: 58px;
    margin-bottom: 20px;
}
.developweb{
    font-size: 48px;
    font-family: 'urbanist-regular';
    line-height: 68px;
    font-weight: 400;
}
.urbnweb{
    font-size: 20px;
    font-family:'Urbanist-medium';
    color: #34A9FF;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
}
.urbnwb{
    color: #000000;
    font-family: "Urbanist Medium", Sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 58px;
}
.skillimg{
    width: 50px !important;
    max-height: 50px !important;
    height: 50px !important;
}
.wbapp{
    color: #000000;
    font-family: "Urbanist Medium";
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
}
.develop{
    font-size: clamp(1.625rem, 1.1143rem + 2.5536vw, 5.2rem);
    font-family: 'urbanist-medium';
    line-height: 68px;
    font-weight: 400;
}
.round{
    color: #34A9FF !important;
    font-size: 22px;
    font-family: 'Urbanist Medium' !important;
    line-height: 22px !important;
    width: 50px;
    height: 50px;
    border: 2px solid #34A9FF;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 50%;
}
.contan{
    padding-top: 200px;
    padding-bottom: 200px;
    color: white;
    max-width:1280px;
}
.contant{
    min-height: 240px;
    max-height: 240px;
    margin-bottom: 40px !important;
}
.contnt{
    min-height: 240px;
    max-height: 240px;
    margin-bottom: 40px !important;
}
.contont{
    color: #000000;
    font-family: "Urbanist Regular", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px !important;
}
.hto{
    font-size: 22px;
    color: #000000;
    line-height: 36px; 
    font-weight: 400; 
    font-family: 'Urbanist-regular';
    padding-left: 20px;
    padding-right: 20px;
}
.content{
    display: none;
}
.content.show{
    display: block;
}
/* span.svg, span.svg.transform {
    transition: all .4s cubic-bezier(1,1,1,1);
} */
span.svg.transform {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.design{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #b9b9ba;
    text-transform: capitalize;
    word-break: break-word;
    font-size: 80px;
    font-family: sans-serif;
    font-weight: 700;
}
span.svg {
    background: rgba(255,255,255,.1);
    border-radius: 50%;
    padding: 12px;
    width: 42px;
    height: 42px;
    text-align: center;
}
.svgg{
    transform: rotate(180deg);
    /* -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear; */
}
/* .svgg.down {
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
} */
.box {
    transition: box-shadow .3s;
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 3%);
    border: none !important;
    border-radius: 0px !important;
}
.box:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.boox{
    transition: box-shadow .3s;
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 3%);
    border: none !important;
    width: 10.5rem;
    border-radius: 0px !important;
}
.boox:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
.poses{
    color: #000000;
    font-family: "Urbanist Regular", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.fotrheading{
    font-family: Urbanist-regular;
    color: #FFFFFF;
    font-size: 24px;
}
.ftrparagraph{
    
    font-size: 14px;
    font-family: 'Urbanist-regular';
    text-decoration: none;
    opacity: 0.7;
    color: #FFFFFF;
    font-weight: 400;
}
.fotrparagraph{
    
    font-size: 14px;
    font-family: 'Urbanist-regular';
    opacity: 0.7;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 26px;
}
.ftrparagraph:hover{
    color: rgba(255, 255, 255, 0.9);
    opacity: 1;
}
.ftrparagraph1{
    color: #FFFFFF;
    font-size: 12px;
    font-family: "Urbanist Regular", Sans-serif;
    line-height: 20px;
    margin: 0px !important;
    opacity: 0.72;
    text-align: center;
}
.mnhght{
    min-height: 400px !important;
    padding: 20px 30px !important;
    margin: 10px 20px !important;
}
.cordbdy{
    padding: 20px 30px !important;
    margin: 10px 20px;
}
.cordtitle{
    margin-bottom: 20px;
}
.cordtxt{
    color: #000000;
    font-family: "Urbanist Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    min-height: 160px;
    max-height: 160px;
}
.cordztxt{
    color: #000000;
    font-family: "Urbanist Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.sftw{
    color: #000000;
    font-family: "Urbanist Regular";
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.resrch{
    color: #000000;
    font-family: "Urbanist Medium";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 20px;
}
.rquir{
    color: #000000;
    font-family: "Urbanist Regular";
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    min-height: 80px;
    max-height: 80px;
    margin-bottom: 10px;
}
.ask{
    color: #FFFFFF;
    font-family: "Urbanist Regular";
    font-size: 48px;
    font-weight: 500;
    line-height: 68px;
    margin-bottom: 10px;
}
.got{
    color: #FFFFFF;
    font-family: "Urbanist Regular";
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 0px;
}
.bton{
    font-family: "Urbanist Regular", Sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    fill: #000000;
    color: #000000;
    background-color: #65E4A1;
    padding: 12px 24px;
    border-radius: 3px;
    text-align: center;
    transition: all .3s;
    display: inline-block;
    text-decoration: inherit;
}
.bton:hover{
    color: #000000;
}
.const{
    padding-top: 180px;
    padding-bottom: 150px;
}
.quest{
    font-family: "Urbanist Regular";
    font-size: 18px;
    font-weight: 400;
    line-height: 42px;
}
.ans{
    color: #FFFFFF;
    font-family: "Urbanist Regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 50px;
}
.acodttl{
    display: flex;
    justify-content:space-between;
    border-top: 1px solid rgba(255,255,255,.12);
    padding-top: 30px; 
    padding-bottom: 30px;
    align-items: baseline;
    cursor: pointer;
}
.crdtxt{
    color: #000000;
    font-family: "Urbanist Regular", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    min-height: 260px;
    max-height: 260px;
}
.crudtxt{
    color: #000000;
    font-family: "Urbanist Regular", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.innovat{
    color: #FFFFFF;
    font-family: "Urbanist Medium", Sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 68px;
    margin-bottom: 20px;
}
.innovatpara{
    color: #FFFFFF;
    font-family: "Urbanist Regular", Sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 20px;
}
.conslt{
    font-size: 16px;
    font-weight: 400;
    fill: #000000;
    color: #000000;
    line-height: 1;
    display: inline-block;
    text-align:center;
    font-family: 'Urbanist';
    padding: 12px 24px;
    background-color: #65E4A1 !important;
    color: black;
    border-radius: 3px;
    transition: all .3s;
    text-decoration: none;
}
.creativ{
    color: #000000;
    font-family: "Urbanist Medium", Sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 68px;
    margin-bottom: 20px;
}
.cretepara{
    text-align: justify;
    color: #000000;
    font-family: "Urbanist Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
.serve{
    color: #000000;
    font-family: "Urbanist Medium";
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 20px;
}
.servepara{
    color: #000000;
    font-family: "Urbanist Regular";
    font-size: 16px;
    font-weight: 400;
}
.serveli{
    color: #000000;
    font-family: "Urbanist Regular";
    font-size: 16px;
    line-height: 44px;
}
.inovatbrand{
    padding-top: 200px;
    padding-bottom: 60px;
}
.inovatbrnd{
    padding-top: 100px;
    padding-bottom: 100px;
}
.inovatbrandz{
    padding-top: 180px;
    padding-bottom: 180px;
}
.mrktfct{
    color: #000000;
    font-family: "Urbanist Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
}
.pasoimg{
    width: 100%;
}
.stratgy{
    color: #000000;
    font-family: "Urbanist Medium", Sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.stratgypara{
    text-align: center;
    color: #000000;
    font-family: "Urbanist Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.comuni{
    padding-top: 66px;
    padding-bottom: 66px;
}
.contctsftwr{
    color: #000000;
    font-family: "Urbanist Regular", Sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 43px;
}
.contctlink{
    color: #000000;
    font-family: "Urbanist Regular";
    font-size: 24px;
    font-weight: 400;
    line-height: 43px;
}
.phone{
    color: #000000;
    font-family: "Urbanist Regular";
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}
.letpad{
    padding: 100px 50px 100px 50px;
}
.filfom{
    color: #FFFFFF;
    font-family: "Urbanist Regular";
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}
.nwtown{
    padding-top: 80px; padding-bottom: 80px;
}

.crdtitle{
    padding-top: 6%;
    padding-bottom: 2%;
}
.coordbdy{
    padding: 48px !important;
    min-height: 80vh !important;
}
.frm{
    border-color: #ECF2F6 !important;
    font-family: Urbanist-regular !important;
    font-size: 16px !important;
    font-weight: 400;
}
.frm:focus{
    box-shadow: 0 0 0 1px rgb(0 0 0 / 10%) !important;
    outline: 0;
}
.foam{
    border: none !important;
    border-bottom: 0.5px solid #fff !important;
    background-color: transparent !important;
    font-size: 18px !important;
    font-family: 'Urbanist-regular'!important;
    border-radius: 0px !important;
    padding: 16px 3px !important;
    color: #fff !important;
    line-height: 163.35% !important;
    
}
.foam:focus{
    box-shadow: none !important;
    outline: 0;
}
.fombtn{
    background-color: #65e4a1 !important;
    border-radius: 2px !important;
    font-size: 16px !important;
    line-height: 20px !important;
    color: #000000 !important;
    padding: 15px !important;
    font-family: "Urbanist Regular";
    width: 100%;
    border:none;
}
.ftrmenu{
    margin-bottom: 10px;
}
.whowe{
    color: #34A9FF;
    font-family: "Urbanist Medium";
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.whopara{
    color: #000000;
    font-family: "Urbanist Medium", Sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}
.imgskil{
    width: 50px !important;
    max-height: 50px !important;
    height: 50px !important;
}
.skilparagrph{
    color: #34A9FF;
    font-family: "Urbanist Medium";
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.exprnce{
    color: #000000;
    font-family: "Urbanist Medium";
    font-size: 22px;
    font-weight: 500;
    line-height: 24px;
}
.skil{
    margin-top: 50px !important;
}
.gobal{
    padding-top: 130px;
    padding-bottom: 130px;
}
.gobalhading{
    color: #FFFFFF;
    font-family: "Urbanist Medium", Sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 44px;
}
.ycard{
    padding: 20px 30px;
    margin: 10px 20px;
    min-height: 500px;
}
.qualify{
    color: #000000;
    font-family: "Urbanist Medium";
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 20px;
}
.qualifypara{
    color: #000000;
    font-family: "Urbanist Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
}
.ycrd{
    margin-top: 20px !important;
}
.whyccrd{
    padding-left: inherit !important;
    padding-right: inherit !important;
}
.sublink{
    font-family: "Urbanist Medium", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    fill: #34A9FF;
    color: #34A9FF;
    text-decoration: none;
}
.delop{
    color: #FFFFFF;
    font-family: "Urbanist Medium", Sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
}
.conn{
    padding-top: 195px;
    padding-bottom: 195px;
}
.dose{
    font-family: "Urbanist Regular", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
}
.dosse{
    font-family: "Urbanist Regular", Sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
}
.itchnge{
    padding: 0px 40px;
}
.sevral{
    color: #000000;
    font-family: "Urbanist Regular", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}
.seevral{
    color: #000000;
    font-family: "Urbanist Regular", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: justify;
    line-height: 24px;
}
.doozse {
    font-family: "Urbanist Regular", Sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}
.moore{
    font-family: "Urbanist Medium", Sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #104FF5;
    text-decoration: none;
}
.vctor{
    width: 100%;
    height: 225px;
}
.pdding{
    padding-top: 80px;
    padding-bottom: 80px;
}
.fusion{
    color: #000000;
    font-family: "Urbanist Medium", Sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 20px;
}
.mbldsign{
    color: #000000;
    font-family: "Urbanist Regular", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.priwat{
    color: #000000;
    font-family: "Urbanist Medium", Sans-serif;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 20px;
}
.chrme{
    font-size: 16px;
}
.zxs{
    width:100%;
    height:25.41%;
    max-width:244px;
}
.guidesftwr{
    color: #000000;
    font-family: "Urbanist Medium", Sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 68px;
}
.txxt{
    padding: .75rem .75rem !important;
    background-color: #F0F0F0 !important;
    border: #F0F0F0 !important;
    border-bottom-left-radius: 5px !important;
    border-top-left-radius: 5px !important;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;

}
.txat{
    background-color: #F0F0F0 !important;
    border: #F0F0F0 !important;
    padding: .375rem .3rem !important;
}
.txat:focus{
    box-shadow: none !important;
}

@media only screen and (max-width: 1140px) and (min-width: 1071px)  {
    .crdtxt{
        min-height: 300px !important;
        max-height: 300px !important;
        margin-bottom: 25px;
    }
    

}
@media only screen and (max-width: 1024px) and (min-width: 991px)  {
    .ycrd{
        width: 50% !important;
    }
    

}

@media only screen and (max-width: 1070px) and (min-width: 947px)  {
    .cordtxt{
        min-height: 185px !important;
        max-height: 185px !important;
        margin-bottom: 25px;
    }
    .crdtxt{
        min-height: 350px !important;
        max-height: 350px !important;
        margin-bottom: 25px;
    }

}

@media only screen and (max-width: 946px) and (min-width: 866px)  {
    .cordbdy{
        padding: 20px !important;
        margin: 0px !important;
    }
    .cordtxt{
        min-height: 200px !important;
        max-height: 200px !important;
        margin-bottom: 0px;
    }
    .crdtxt{
        min-height: 350px !important;
        max-height: 350px !important;
        margin-bottom: 25px;
    }
    

}
@media only screen and (max-width: 865px) and (min-width: 768px)  {
    .cordbdy{
        padding: 20px !important;
        margin: 0px !important;
    }
    .cordtxt{
        min-height: 220px !important;
        max-height: 220px !important;
        margin-bottom: 0px;
    }
    .crdtxt{
        min-height: 360px !important;
        max-height: 360px !important;
    }
    

}

@media only screen and (max-width: 767px) and (min-width: 320px)  {
    .crdbody{
        padding: 20px !important;
    }
    .crdtitle{
        padding-top: 3% !important;
        padding-bottom: 2%;
    }
    /* .cordbdy{
        padding: 20px !important;
    } */
    .boox{
        width:100%;
    }
    .monitor{
        width: 100%;
    }
    .coordbdy{
        padding: 20px !important;
    }
    .develop{
        line-height: 32px;
    }
    .cost{
        font-size: 26px;
        line-height: 32px !important;
    }
    
    /* .poses{
        line-height: 24px;
        font-size: 16px;
    } */

    /* Update */
    .developweb{
        font-size: 26px;
        line-height: 32px;
    }
    .hto{
        line-height: 26px;
        font-size: 18px;
    }
    .urbnweb{
        font-size: 16px;
        line-height: 24px;
    }
    .urbnwb{
        font-size: 26px;
        line-height: 32px;
    }
    .skillimg{
        width: 40px !important;
        max-height: 40px !important;
        height: 40px !important;
    }
    .wbapp{
        font-size: 26px;
        line-height: 32px;
    }
    .cordtxt{
        font-size: 15px;
        line-height: 25px;
        min-height: inherit;
        max-height: inherit;
    }
    .cordztxt{
        font-size: 15px;
        line-height: 25px;
    }
    .crdtxt{
        font-size: 15px;
        line-height: 25px;
        min-height: inherit;
        max-height: inherit;
    }
    .crudtxt{
        font-size: 15px;
        line-height: 25px;
    }
    .cordbdy{
        padding: 20px !important;
        margin: 0px;
    }
    .mnhght{
        min-height: inherit !important;
        padding: 15px 10px !important;
    }
    .sftw{
        color: #000000;
        font-family: "Urbanist Regular";
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
    }
    .dsply{
        width: 33.33%;
        display: block;
        text-align: center;
    }
    .desply{
        width: 50% !important;
        display: block;
        text-align: center;
    }
    .rquir{
        min-height: inherit;
        max-height: inherit;
        font-size: 15px;
        line-height: 20px;
    }
    .resrch{
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 5px;
    }
    .botn{
        display: none !important;
    }
    .got{
        font-size: 12px;
        line-height: 20px;
    }
    .ask{
        font-size: 24px;
        line-height: 34px;
        letter-spacing: 1px;
    }
    .const{
        padding-top: 50px;
        padding-bottom: 0px;
    }
    .quest{
        font-size: 16px;
        line-height: 20px;
    }
    .innovat{
        font-size: 26px;
        line-height: 34px;
    }
    .innovatpara{
        font-size: 16px;
        line-height: 24px;
    }
    .creativ{
        font-size: 26px;
        line-height: 34px;
    }
    .cretepara{
        font-size: 14px;
        line-height: 20px;
    }
    .serve{
        font-size: 26px;
    }
    .inovatbrand{
        padding-top: 130px;
        padding-bottom: 0px;
    }
    .flxrevrse{
        flex-wrap: wrap-reverse !important;
    }
    .pasoimg{
        height: 300px;
    }
    .comuni{
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .contctsftwr{
        font-size: 24px;
        line-height: 36px;
    }
    .contctlink{
        font-size: 24px;
        line-height: 36px;
    }
    .phone{
        font-size: 24px;
        line-height: 36px;
    }
    .letpad{
        padding: 50px 10px 50px 10px;
    }
    .inovatbrandz{
        padding-top: 150px;
        padding-bottom: 50px;
    }
    .nwtown{
        padding-top: 50px; padding-bottom: 0px;
    }
    .ftrmenu{
        margin-bottom: 15px;
    }
    .inovatbrnd{
        padding-top: 100px;
        padding-bottom: 0px;
    }
    .whowe{
        font-size: 16px;
        line-height: 24px;
    }
    .whopara{
        font-size: 22px;
        line-height: 28px;
    }
    .imgskil{
        width: 40px !important;
        max-height: 40px !important;
        height: 40px !important;
    }
    .skil{
        width: 50% !important;
        margin-bottom: 20px;
        margin-top: 0px !important;
    }
    .skilparagrph{
        font-size: 16px;
        line-height: 24px;
    }
    .exprnce{
        font-size: 18px;
        line-height: 20px;
    }
    .gobal{
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .gobalhading{
        font-size: 22px;
        line-height: 32px;
    }
    .ycard{
        padding: 15px 10px;
        min-height: inherit;
    }
    .qualify{
        font-size: 26px;
        line-height: 32px;
    }
    .qualifypara{
        font-size: 15px;
        line-height: 20px;
    }
    .contont{
        font-size: 15px;
        line-height: 20px;
    }
    .delop{
        font-size: 26px;
    line-height: 35px;
    }
    .conn{
        padding-top: 150px;
        padding-bottom: 80px;
    }
    .dose{
        font-size: 16px;
    }
    .dosse{
        font-size: 16px;
    }
    .vctor{
        width: 100%;
        height: 225px;
    }
    .pdding{
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }
    .fusion{
        font-size: 26px;
        line-height: 32px;
    }
    .chrme{
        font-size: 13px;
    }
    .dnon{
        display: block !important;
    }
    .service-development .col {
        width: 100% !important;
        padding: 30px 34px;
    }

}

.dnon{
    display: none !important;
}