.navlinq{
    padding-left: 20px !important;
    padding-right: 20px !important;
    color: #FFFFFF !important;
    font-family: 'Urbanist-medium';
    font-size: 14px !important;
}
.navlinq:hover{
    color: #F4F4F4 !important;
}
.hdder {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: auto;
    background-color:transparent;
    line-height: 40px;
}

.hdder.active {
    background: #141414;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
@media only screen and (max-width: 1100px) and (min-width: 901px)  {
    .navlinq{
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}