/* navbar.css */
.default {
   background-color: transparent; /* Set the background color for the default state */
}

.isActive {
  background-color: #ffffff; /* Set the background color for the scrolled state */
}

.defaultNavLink {
  color: black; /* Set the color for the links */
  padding: 0.5rem 1rem;
}

.isActiveNavLink {
  color: black;
  padding: 0.5rem 1rem;
}

.defaultNavLink:hover,
.defaultNavLink:focus {
  color: #ffffff; /* Set the color for the hovered/focused links */
}
.bg-dark{
  background: #000000;
  box-shadow: 0px 10px 40px rgb(0 0 0 / 25%);
}

@media (max-width: 991px) {
  .navbar-nav {
    flex-direction: column;
    gap: 0.5rem;
  }

  .navbar-brand {
    margin-bottom: 1rem;
  }
}
